.pageTitle {
  font-size: 34px;
  font-weight: 800;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.pageDescription {
  max-width: 600px;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-pink-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}

.contentCard {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
