.applicationFooter {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.footerInnerLayout {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.footerLogoSection {
  max-width: 260px;

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerDescriptionText {
  margin-top: 5px;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.footerLinkGroups {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.footerGroupWrapper {
  width: 160px;
}

.footerGroupTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.footerLink {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footerBottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
  }
}

.socialIconGroup {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}
